@model IEnumerable<ada_mvc.Empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear empleados</h2>

<style>
    .mybtn {
        border: 1px solid #F06D7E;
        margin-bottom: 1rem;
    }

        .mybtn > a {
            color: #F06D7E;
        }
</style>

<div class="btn mybtn">
    <a>
        @Html.ActionLink("Crear nuevo", "Create")
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Areas.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areas.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CodEmpleado }) |
                @Html.ActionLink("Ver", "Details", new { id = item.CodEmpleado }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CodEmpleado })
            </td>
        </tr>
    }

</table>
