@model ada_mvc.EquiposTecnologicos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar equipo</h2>
<style>
    .mybtn {
        border: 1px solid #F06D7E;
        margin-bottom: 1rem;
    }

        .mybtn > a {
            color: #F06D7E;
        }
</style>

<h3>¿Deseas eliminar este equipo?</h3>
<div>
    @*<h4>EquiposTecnologicos</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoInterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMonetario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMonetario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn mybtn">
                <a>
                    @Html.ActionLink("Regresar", "Index")
                </a>
            </div>
            <input style="margin-bottom: 1rem;" type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
