@model IEnumerable<ada_mvc.EquiposTecnologicos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar equipos.</h2>

<style>
    .mybtn {
        border: 1px solid #F06D7E;
        margin-bottom: 1rem;
    }

        .mybtn > a {
            color: #F06D7E;
        }
</style>

<div class="btn mybtn">
    <a>
        @Html.ActionLink("Crear nuevo", "Create")
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorMonetario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMonetario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleados.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdEquipo }) |
                @Html.ActionLink("Ver", "Details", new { id = item.IdEquipo }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEquipo })
            </td>
        </tr>
    }

</table>
