<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    body {
        background-image: url('../../images/circle.svg'), url('../../images/hero.svg');
        background-color: #161A23;
        background-size: cover, 40%;
        background-repeat: repeat, no-repeat;
        background-position-y: bottom, center;
        background-position-x: center, right;
    }
</style>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color: white;">&copy; @DateTime.Now.Year - Gestión de Proyectos de Software</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
