<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ada MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('../../images/circle.svg');
            background-color: #161A23;
            background-size: cover;
            background-repeat: repeat;
            background-position-y: bottom;
            background-position-x: center;
        }
        .navbar-inverse {
            background-color: #04001E;
            border-color: #04001E;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #fff;
        }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #F06D7E;
        }
        .mycontainer {
            background-color: #e7f4fd;
            opacity: 95%;
            box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.15);
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ada - MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Areas", "Index", "Areas")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Empleados")</li>
                    <li>@Html.ActionLink("Equipos técnologicos", "Index", "EquiposTecnologicos")</li>
                    <li>@Html.ActionLink("Agregar empleado a asistencia", "Index", "Asistencias")</li>
                    <li>@Html.ActionLink("Registrar detalle de asistencias", "Index", "DetalleDeAsistencias")</li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Reportes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Comentarios", "Create", "Comentarios")</li>
                            <li>@Html.ActionLink("Reportes", "Index", "Comentarios")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content mycontainer">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
